<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Peter K Joseph</title>
    <meta property="og:title" content="Portifolio - Peter K Joseph">
    <meta name="description" content="Hey, Peter here... I welcome you to check this. It's my personal portifolio">
    <meta property="og:description" content="Hey, Peter here... I welcome you to check this. It's my personal portifolio">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="robots" content="index, follow">
    <meta property="og:locale" content="en-US">
    <link rel="stylesheet" href="./css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJW6X2QFP1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VJW6X2QFP1');
    </script>
</head>

<body>
    <nav data-animation="">
        <ul data-animation="">
            <li class="nav-items active" alias-home><a href="#home">Home</a></li>
            <li class="nav-items" alias-experience><a href="#experience">Experience</a></li>
            <li class="nav-items" alias-project><a href="#projects">Projects</a></li>
            <li class="nav-items" alias-education><a href="#education">Education</a></li>
            <li class="nav-items" alias-contact><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="main" data-animation="">
        <div id="home">
            <div class="col">
                <div class="intro__image" data-animation=""></div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <ul>
                            <li><a href="https://github.com/Peter-K-Joseph" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/github.png" alt="GitHub"></a></li>
                            <li><a href="https://www.linkedin.com/in/peterkjoseph/" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/linkedin.png" alt="LinkedIn"></a>
                            </li>
                            <li><a href="https://www.instagram.com/peter_k_joseph/" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/instagram.webp" alt="Instagram"></a>
                            </li>
                            <li><a href="mailto:peterkjoseph02@gmail.com"><img src="./resources/email.png"
                                        alt="Email"></a></li>
                            <li><button id="view_resume">Resume</button></li>
                        </ul>
                    </div>
                    <h1>Peter K Joseph</h1>
                    <span class="catchy_text" data-animation="">A <span class="boldified">developer</span> who <span
                            class="underlined">can write clean code</span></span>
                </div>
            </div>
        </div>
        <div id="experience">
            <h1>My Experience with the industry</h1>
            <div id="dispatchWorkExperienceData"></div>
        </div>
        <div id="projects">
            <div class="render">
                <h3>My Projects</h3>
                <div class="components" id="my_projects"></div>
            </div>
        </div>
        <div id="education">
            <h1>My Education</h1>
            <div class="education_data">
                <div class="institute">
                    <div class="ins_data">
                        <h1>Rajagiri Higher Secondary School</h1>
                        <img src="./resources/edu_rajagiri.png" alt="">
                    </div>
                    <div class="exam">
                        <h3 class="edu">SSLC</h3>
                        <span class="score">
                            <div class="slider">
                                <div class="represent" style="width: 97.80%" data-represent="97.80%"></div>
                            </div>
                            <div class="scoreboard">
                                <span>0%</span>
                                <span>100%</span>
                            </div>  
                            <div class="info">
                                <div class="board">
                                    Board: <span class="data">SCERT (The State Council of Educational Research and Training)</span>
                                </div>
                                <div class="board">
                                    Syllabus: <span class="data">Class 10</span>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="exam">
                        <h3 class="edu">DHSE</h3>
                        <span class="score">
                            <div class="slider">
                                <div class="represent" style="width: 80.75%" data-represent="80.75%"></div>
                            </div>
                            <div class="scoreboard">
                                <span>0%</span>
                                <span>100%</span>
                            </div>  
                            <div class="info">
                                <div class="board">
                                    Board: <span class="data">DHSE (Directorate of Higher Secondary Education)</span>
                                </div>
                                <div class="board">
                                    Syllabus: <span class="data">Class 12 (Physics, Chemistry, Maths, Computer Science)</span>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="institute">
                    <div class="ins_data">
                        <h1>CHRIST (Deemed To Be) University</h1>
                        <img src="./resources/edu_christ.png" alt="">
                    </div>
                    <div class="exam">
                        <h3 class="edu">Semester 1</h3>
                        <span class="score">
                            <div class="slider">
                                <div class="represent" style="width: 94.5%" data-represent="3.78 GPA"></div>
                            </div>
                            <div class="scoreboard">
                                <span>0.00 GPA</span>
                                <span>4.00 GPA</span>
                            </div>
                        </span>
                    </div>
                    <div class="exam">
                        <h3 class="edu">Semester 2</h3>
                        <span class="score">
                            <div class="slider">
                                <div class="represent" style="width: 93.75%" data-represent="3.75 GPA"></div>
                            </div>
                            <div class="scoreboard">
                                <span>0.00 GPA</span>
                                <span>4.00 GPA</span>
                            </div>
                        </span>
                    </div>
                    <div class="exam">
                        <h3 class="edu">Semester 3</h3>
                        <span class="score">
                            <div class="slider">
                                <div class="represent" style="width: 86.5%" data-represent="3.46 GPA"></div>
                            </div>
                            <div class="scoreboard">
                                <span>0.00 GPA</span>
                                <span>4.00 GPA</span>
                            </div>
                        </span>
                    </div>
                    <div class="exam">
                        <h3 class="edu">Semester 4</h3>
                        <span class="score">
                            <div class="slider">
                                <div class="represent" style="width: 82.75%" data-represent="3.31 GPA"></div>
                            </div>
                            <div class="scoreboard">
                                <span>0.00 GPA</span>
                                <span>4.00 GPA</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="sub">
        <div class="loader">
            <div class="load"></div>
        </div>
    </div>
    <div class="scrollUnit">
        <div class="scrollbit"></div>
    </div>
</body>
<script src="./js/script.js"></script>

</html>