<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peter K Joseph</title>
    <meta name="description" content="Hey, Peter here... I welcome you to check this. It's my personal portifolio">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <nav data-animation="">
        <ul data-animation="">
            <li class="nav-items active" alias-home><a href="#home">Home</a></li>
            <li class="nav-items" alias-experience><a href="#experience">Experience</a></li>
            <li class="nav-items" alias-project><a href="#projects">Projects</a></li>
            <li class="nav-items" alias-education><a href="#education">Education</a></li>
            <li class="nav-items" alias-contact><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="main" data-animation="">
        <div id="home">
            <div class="col">
                <div class="intro__image" data-animation=""></div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <ul>
                            <li><a href="https://github.com/Peter-K-Joseph" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/github.png" alt="GitHub"></a></li>
                            <li><a href="https://www.linkedin.com/in/peterkjoseph/" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/linkedin.png" alt="LinkedIn"></a>
                            </li>
                            <li><a href="https://www.instagram.com/peter_k_joseph/" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/instagram.webp" alt="Instagram"></a>
                            </li>
                            <li><a href="mailto:peterkjoseph02@gmail.com"><img src="./resources/email.png"
                                        alt="Email"></a></li>
                            <li><button id="view_resume">Resume</button></li>
                        </ul>
                    </div>
                    <h1>Peter K Joseph</h1>
                    <span class="catchy_text" data-animation="">A <span class="boldified">developer</span> who <span
                            class="underlined">can write clean code</span></span>
                </div>
            </div>
        </div>
        <div id="experience">
            <h1>My Experience with the industry</h1>
            <div id="dispatchWorkExperienceData"></div>
        </div>
        <div id="projects">
            <div class="render">
                <h3>My Projects</h3>
                <div class="components" id="my_projects"></div>
            </div>
        </div>
        <div id="education">

        </div>
    </div>
    <div class="sub">
        <div class="loader">
            <div class="load"></div>
        </div>
    </div>
    <div class="scrollUnit">
        <div class="scrollbit"></div>
    </div>
</body>
<script src="./js/script.js"></script>

</html>