<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Peter K Joseph</title>
    <meta name="title" content="Portifolio - Peter K Joseph">
    <meta name="description"
        content="A Student pursuing BTech in Computer Science and Engineering (Honors in AI & ML). Web Master at IEEE and Committee Head at CAPS, Christ University. Aspiring DevOps/Full Stack Engineer.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Portifolio - Peter K Joseph">
    <meta property="og:description"
        content="A Student pursuing BTech in Computer Science and Engineering (Honors in AI & ML). Web Master at IEEE and Committee Head at CAPS, Christ University. Aspiring DevOps/Full Stack Engineer.">
    <meta property="og:image"
        content="./resources/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Portifolio - Peter K Joseph">
    <meta property="twitter:description"
        content="A Student pursuing BTech in Computer Science and Engineering (Honors in AI & ML). Web Master at IEEE and Committee Head at CAPS, Christ University. Aspiring DevOps/Full Stack Engineer.">
    <meta property="twitter:image"
        content="./resources/preview.png">
    <meta name="robots" content="index, follow">
    <meta property="og:locale" content="en-US">
    <link rel="stylesheet" href="./css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJW6X2QFP1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-VJW6X2QFP1');
    </script>
</head>

<body>
    <nav data-animation="">
        <ul data-animation="">
            <li class="nav-items active" alias-home><a href="#home">Home</a></li>
            <li class="nav-items" alias-experience><a href="#experience">Experience</a></li>
            <li class="nav-items" alias-project><a href="#projects">Projects</a></li>
            <li class="nav-items" alias-certificates><a href="#certificates">Certificates</a></li>
            <li class="nav-items" alias-education><a href="#education">Education</a></li>
            <li class="nav-items" alias-contact><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="main" data-animation="">
        <div id="home">
            <div class="col">
                <div class="intro__image" data-animation=""></div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <ul>
                            <li><a href="https://github.com/Peter-K-Joseph" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/github.png" alt="GitHub"></a></li>
                            <li><a href="https://www.linkedin.com/in/peterkjoseph/" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/linkedin.png" alt="LinkedIn"></a>
                            </li>
                            <li><a href="https://www.instagram.com/peter_k_joseph/" target="_blank"
                                    rel="noopener noreferrer"><img src="./resources/instagram.webp" alt="Instagram"></a>
                            </li>
                            <li><a href="mailto:peterkjoseph02@gmail.com"><img src="./resources/email.png"
                                        alt="Email"></a></li>
                            <li><button id="view_resume">Resume</button></li>
                        </ul>
                    </div>
                    <h1>Peter K Joseph</h1>
                    <span class="catchy_text" data-animation="">A <span class="boldified">developer</span> who <span
                            class="underlined">can write clean code</span></span>
                </div>
            </div>
        </div>
        <div id="experience">
            <h1>My Experience with the industry</h1>
            <div id="dispatchWorkExperienceData"></div>
        </div>
        <div id="projects">
            <div class="render">
                <h3>My Projects <span class="numbers" id="total_project">...</span></h3>
                <div class="components" id="my_projects"></div>
            </div>
        </div>
        <div id="certificates">
            <div class="render">
                <h3>My Certificates</h3>
                <div class="display" id="my_certificates">
                    <div class="certificate_total">
                        Total Number of Certificate Courses<br><span id="total_certificates_value">Still Loading for some reason...</span>
                    </div>
                    <div class="recents">
                        <span>Recently Completed Certificate</span>
                        <div class="recent_certificate"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="education">
            <h1>My Education</h1>
            <div class="education_data"></div>
        </div>
        <div id="contact">
            <h1>Contact Me</h1>
            <span>
                <h3>You can contact me via e-mail at <a href="mailto:peterkjoseph02@gmail.com"></a></h3>
            </span>
        </div>
    </div>
    <div class="sub">
        <div class="loader">
            <div class="load"></div>
        </div>
    </div>
    <div class="scrollUnit">
        <div class="scrollbit"></div>
    </div>
</body>
<script src="./js/script.js"></script>

</html>